@use '@angular/material' as mat;
@include mat.core();

$primary: mat.define-palette(mat.$orange-palette);
$accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$amber-palette);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    )
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    )
  )
);

@include mat.all-component-themes($light-theme);

.app-card {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.dark_mode {
  @include mat.all-component-colors($dark-theme);

  .app-card {
    border: 1px solid rgba(255, 255, 255, 0.12);
  }

  #member-details {
    p#member-name,
    mat-tab-header {
      // mat-sidenav-content's background in dark theme
      background-color: #303030;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.spacer {
  flex: 1 1 auto;
}

#member-details {
  p#member-name,
  mat-tab-header {
    z-index: 3;
    position: fixed;
    left: 0;
    right: 0;
    // mat-sidenav-content's background in light theme
    background-color: #fafafa;

    @media (min-width: 992px) {
      width: 992px;
      left: calc((100vw - 992px) / 2);
      right: calc((100vw - 992px) / 2);
    }
  }

  p#member-name {
    padding: 48px 32px 32px;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    text-decoration-style: double;
    top: 54px;
  }

  mat-tab-header {
    margin-top: 48px;
  }
}
