@use '@angular/material' as mat;
@include mat.core();

@font-face {
  font-family: Avenir;
  src: url(assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: Avenir;
  src: url(assets/fonts/AvenirNextLTPro-It.otf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Avenir;
  src: url(assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: Avenir;
  src: url(assets/fonts/AvenirNextLTPro-UltLt.otf);
  font-weight: 300;
}

$primary: mat.define-palette(mat.$orange-palette);
$accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$amber-palette);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    ),
    typography:
      mat.define-typography-config(
        $font-family: '"Avenir", sans-serif;'
      )
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    )
  )
);

@include mat.all-component-themes($light-theme);

[app-card] {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

[member-details] {
  [member-name],
  mat-tab-header {
    // mat-sidenav-content's background in light theme
    background-color: #fafafa;
  }
}

img[src$='.svg'][switch-color] {
  filter: brightness(0) saturate(100%);
  opacity: 0.87;
}

.dark_mode {
  @include mat.all-component-colors($dark-theme);

  [app-card] {
    border: 1px solid rgba(255, 255, 255, 0.12);
  }

  [member-details] {
    [member-name],
    mat-tab-header {
      // mat-sidenav-content's background in dark theme
      background-color: #303030;
    }
  }

  img[src$='.svg'][switch-color] {
    filter: brightness(0) saturate(100%) invert(1);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: Avenir, Roboto, 'Helvetica Neue', sans-serif !important;
  font-size: 16px;
}

[spacer] {
  flex: 1 1 auto;
}

button[mat-fab].scroll-to-top {
  position: fixed;
  bottom: 48px;
  right: 32px;

  @media (min-width: 1232px) {
    right: calc(((100vw - 1232px) / 2) + 32px);
  }
}

.hide-scroll {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.show-scroll {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
