<ngx-ui-loader
  [fgsColor]="primaryColor"
  [pbColor]="primaryColor"
  [fgsType]="SPINNER.pulse"
>
</ngx-ui-loader>

<mat-toolbar id="navbar">
  <mat-toolbar-row>
    <a routerLink="/dashboard" mat-button>
      <h1>
        <img id="nav-logo" src="assets/images/logo.png" aria-hidden="true" />
        <span>Admin</span>
      </h1>
    </a>
    <span class="spacer"></span>
    <button
      mat-stroked-button
      (click)="signOut()"
      id="sign-out-button"
      *ngIf="auth.currentUser"
    >
      Sign Out
    </button>
    <button mat-icon-button (click)="changeTheme()" title="Switch Theme">
      <mat-icon outlined>{{
        themes.indexOf(cssClass) === 0 ? themes[1] : themes[0]
      }}</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>

    <footer>
      <mat-toolbar>
        <mat-toolbar-row>
          <small>&copy; {{ year }} All Rights Reserved</small>
          <a
            href="https://twitter.com/GenesysAEFUNAI"
            target="_blank"
            rel="noopener noreferrer"
            title="Follow Us on Twitter"
            ><img src="assets/svgs/twitter.svg"
          /></a>
        </mat-toolbar-row>
      </mat-toolbar>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
