<h2 page-heading>Welcome</h2>
<div
  page-loader
  *ngIf="
    !hasLoadedPage ||
    (auth.currentUser && auth.currentUser.phoneNumber && !isNewMember)
  "
>
  <p subheading>Please wait ...</p>
  <div>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>

<div *ngIf="hasLoadedPage">
  <div *ngIf="!auth.currentUser">
    <p subheading>Welcome to Genesys Campus Club AE-FUNAI.</p>
    <p>
      We are a tech community. With us, you would create awesome projects with
      others and become an expert in tech. We hold study jams, workshops and
      meetups. Join us by signing in.
    </p>
    <p>Are you already a member? Still sign in to continue.</p>
    <p>
      <button mat-stroked-button (click)="signInWithGoogle()">
        <img
          src="assets/svgs/google.svg"
          aria-hidden="true"
          google-logo
          *ngIf="!isSigningIn"
        />
        <span *ngIf="!isSigningIn">Sign In With Google</span>
        <mat-progress-spinner
          mode="indeterminate"
          strokeWidth="4"
          diameter="18"
          sign-in-spinner
          *ngIf="isSigningIn"
        ></mat-progress-spinner>
      </button>
    </p>
  </div>

  <div *ngIf="auth.currentUser && !auth.currentUser.phoneNumber">
    <app-verify-phone></app-verify-phone>
  </div>

  <div
    profile-section
    *ngIf="auth.currentUser && auth.currentUser.phoneNumber && isNewMember"
  >
    <p subheading>Please let's know a little more about you.</p>
    <form #profileForm="ngForm" (ngSubmit)="saveProfile()">
      <label label-for-radio-group> Gender *</label>
      <mat-radio-group>
        <mat-radio-button
          *ngFor="let gender of genders; first as first"
          (change)="profile.gender = $event.value"
          [checked]="first"
          [value]="gender"
        >
          {{ gender }}
        </mat-radio-button>
      </mat-radio-group>

      <label label-for-radio-group>Faculty *</label>
      <mat-radio-group>
        <mat-radio-button
          *ngFor="let faculty of faculties; first as first"
          (change)="profile.faculty = $event.value"
          [checked]="first"
          [value]="faculty"
        >
          {{ faculty }}
        </mat-radio-button>
      </mat-radio-group>

      <label label-for-radio-group>Level *</label>
      <mat-radio-group>
        <mat-radio-button
          *ngFor="let level of levels; first as first"
          (change)="profile.level = $event.value"
          [checked]="first"
          [value]="level"
        >
          {{ level }}
        </mat-radio-button>
      </mat-radio-group>

      <mat-form-field>
        <mat-label>Department</mat-label>
        <input
          matInput
          required
          type="text"
          [(ngModel)]="profile.department"
          name="department"
          #department="ngModel"
        />
        <mat-error *ngIf="!department.valid">Department is required</mat-error>
      </mat-form-field>

      <mat-form-field twitter-handle>
        <mat-label>Twitter Handle</mat-label>
        <span>@</span>
        <input
          matInput
          required
          type="text"
          [(ngModel)]="profile.twitter"
          name="twitter"
          pattern="^(\w){1,15}$"
          #twitter="ngModel"
        />
        <mat-error *ngIf="!twitter.valid">{{
          twitter.hasError('required')
            ? 'Twitter Handle is required'
            : 'Please just a valid Twitter username'
        }}</mat-error>
      </mat-form-field>
      <p>
        <button mat-raised-button type="submit" color="primary">
          Save My Info
        </button>
      </p>
    </form>
  </div>
</div>
