#page-loader > div {
  height: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img#google-logo-sign-in-button {
  width: 1rem;
  margin-right: 0.5rem;
}

#sign-in-spinner {
  margin: 6px 32px;
}

#profile-section p.subheading {
  margin-bottom: 2rem;
}

.label-for-radio-group {
  opacity: 0.65;
  font-size: 0.75rem;
  margin-bottom: 8px;
  text-align: left;
}

.label-for-radio-group,
mat-radio-group,
mat-form-field {
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  max-width: 256px;
}

mat-radio-group,
mat-form-field {
  margin-bottom: 32px;
}

mat-radio-button {
  display: block;
  margin-bottom: 12px;
}
