<mat-toolbar id="navbar">
  <mat-toolbar-row>
    <h1>
      <img id="nav-logo" src="assets/images/logo.png" aria-hidden="true" />
      <span>Genesys AE-FUNAI</span>
    </h1>
    <span class="spacer"></span>
    <button mat-icon-button (click)="changeTheme()" title="Switch Theme">
      <mat-icon outlined>{{
        themes.indexOf(cssClass) == 0 ? themes[1] : themes[0]
      }}</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav-content>
    <main>
      <div id="welcome-card">
        <img
          src="assets/images/community.png"
          aria-details="Picture of the Community"
        />
        <div>
          <h2>Welcome</h2>
          <p id="welcome-with-clubname">
            Welcome to Genesys Campus Club AE-FUNAI.
          </p>
          <p>
            We are a tech community. With us, you would create awesome projects
            with others and become an expert in tech. We hold study jams,
            workshops and meetups. Join us by signing in.
          </p>
          <p>Are you already a member? Still sign in to continue.</p>
          <p>
            <button mat-stroked-button>
              <img
                src="assets/svgs/google.svg"
                aria-hidden="true"
                id="google-logo-sign-in-button"
              />
              <span>Sign In With Google</span>
            </button>
          </p>
        </div>
      </div>
    </main>

    <footer>
      <mat-toolbar>
        <mat-toolbar-row>
          <small>&copy; {{ year }} All Rights Reserved</small>
          <a
            href="https://twitter.com/GenesysAEFUNAI"
            target="_blank"
            rel="noopener noreferrer"
            title="Follow Us on Twitter"
            ><img src="assets/svgs/twitter.svg"
          /></a>
        </mat-toolbar-row>
      </mat-toolbar>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
