#recaptcha-container {
  margin-top: 32px;
  margin-bottom: 16px;
}

#recaptcha-container.hidden {
  visibility: hidden;
  height: 0;
  margin: 0;
}

#recaptcha {
  margin: auto;
  display: flex;
  justify-content: center;
}

#phone-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  margin-right: 16px;
  margin-bottom: 16px;
  max-width: 144px;
}

#cancel-code-button {
  margin-right: 16px;
}

.black-spinner-container.horizontal-padding {
  padding: 0 32px;
}
