<ngx-ui-loader
  [fgsColor]="primaryColor"
  [pbColor]="primaryColor"
  [fgsType]="SPINNER.pulse"
>
</ngx-ui-loader>

<mat-toolbar navbar>
  <mat-toolbar-row>
    <a routerLink="/" mat-button>
      <h1>
        <img
          nav-logo
          [src]="
            'assets/images/logo_' +
            (themeModes.indexOf(cssClass) === 0
              ? themeModes[1].split('_')[0]
              : themeModes[0].split('_')[0]) +
            '.png'
          "
          aria-details="Genesys"
        />
      </h1>
    </a>
    <span spacer></span>
    <button mat-icon-button (click)="snav.toggle()" *ngIf="!isLargeScreen">
      <mat-icon outlined>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #snav
    [fixedInViewport]="true"
    [fixedTopGap]="56"
    [opened]="isLargeScreen"
    [mode]="isLargeScreen ? 'side' : 'over'"
    [position]="isLargeScreen ? 'start' : 'end'"
  >
    <mat-nav-list>
      <ng-container *ngIf="isMember">
        <a
          mat-list-item
          *ngFor="let item of navLinks"
          [routerLink]="item.link"
          [routerLinkActive]="['active-nav-link']"
          [routerLinkActiveOptions]="{ exact: true }"
          >{{ item.name }}</a
        ></ng-container
      >
      <a
        mat-list-item
        target="_blank"
        rel="noopener noreferrer"
        href="https://chat.whatsapp.com/I7bYqpIqByqGHJbcAHQZA2"
        >Support Group</a
      >
      <a mat-list-item (click)="signOut()" sign-out *ngIf="isMember">
        Sign Out
      </a>
    </mat-nav-list>
    <label label-for-radio-group>Theme</label>
    <mat-radio-group>
      <mat-radio-button
        *ngFor="let mode of themeModes"
        [checked]="
          isInSystemThemeMode ? mode === SYSTEM_THEME_MODE : cssClass === mode
        "
        (change)="changeTheme(mode)"
        [value]="mode"
      >
        {{ capitalize(mode.split('_')[0]) }}
      </mat-radio-button>
    </mat-radio-group>
  </mat-sidenav>

  <mat-sidenav-content>
    <main>
      <div content-card>
        <img
          src="assets/images/community.png"
          aria-details="Picture of the Community"
        />
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </main>

    <ng-template
      [ngTemplateOutlet]="footer"
      *ngIf="!isLargeScreen"
    ></ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template [ngTemplateOutlet]="footer" *ngIf="isLargeScreen"></ng-template>

<ng-template #footer>
  <footer [class.wide-screen-footer]="isLargeScreen">
    <mat-toolbar>
      <mat-toolbar-row>
        <small>&copy; {{ year }} All Rights Reserved</small>
        <a
          href="https://twitter.com/GenesysAEFUNAI"
          target="_blank"
          rel="noopener noreferrer"
          title="Follow Us on Twitter"
          ><img src="assets/svgs/twitter.svg" switch-color
        /></a>
      </mat-toolbar-row>
    </mat-toolbar>
  </footer>
</ng-template>
