mat-form-field {
  max-width: 312px;
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  margin-bottom: 16px;

  small {
    margin-bottom: 16px;
    display: inline-block;
  }
}

mat-form-field#achievement-type {
  max-width: 144px;
}
