@use '@angular/material' as mat;
@include mat.core();

$primary: mat.define-palette(mat.$orange-palette);
$accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$amber-palette);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    )
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    )
  )
);

.light_mode {
  @include mat.all-component-themes($light-theme);

  #content-card {
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.dark_mode {
  @include mat.all-component-themes($dark-theme);

  #content-card {
    border: 1px solid rgba(255, 255, 255, 0.12);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.spacer {
  flex: 1 1 auto;
}

.font-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

h2#page-heading {
  margin-bottom: 0.5rem;
  text-decoration: underline;
  text-decoration-style: double;
}

p.subheading {
  font-size: 1.25rem;
}

p {
  margin-bottom: 16px;
}

mat-form-field {
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  margin-bottom: 16px;

  small {
    margin-bottom: 16px;
    display: inline-block;
  }
}

mat-form-field#twitter-handle .mat-form-field-infix {
  display: flex;
}
