@use '@angular/material' as mat;
@include mat.core();

@font-face {
  font-family: Avenir;
  src: url(assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: Avenir;
  src: url(assets/fonts/AvenirNextLTPro-It.otf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Avenir;
  src: url(assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: Avenir;
  src: url(assets/fonts/AvenirNextLTPro-UltLt.otf);
  font-weight: 300;
}

$primary: mat.define-palette(mat.$orange-palette);
$accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$amber-palette);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    ),
    typography:
      mat.define-typography-config(
        $font-family: '"Avenir", sans-serif;'
      )
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    )
  )
);

@include mat.all-component-themes($light-theme);

#content-card {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-drawer-side {
  @media (min-width: 992px) {
    border-left: solid 1px rgba(0, 0, 0, 0.12);
    border-right: none;
  }
}

.dark_mode {
  @include mat.all-component-colors($dark-theme);

  #content-card {
    border: 1px solid rgba(255, 255, 255, 0.12);
  }

  .mat-drawer-side {
    @media (min-width: 992px) {
      border-left: solid 1px rgba(255, 255, 255, 0.12);
      border-right: none;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Avenir, Roboto, 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.spacer {
  flex: 1 1 auto;
}

.font-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

h2#page-heading {
  margin-bottom: 0.5rem;
  text-decoration: underline;
  text-decoration-style: double;
}

p.subheading {
  font-size: 1.25rem;
}

p {
  margin-bottom: 16px;
}

mat-form-field#phone-form-field,
mat-form-field#twitter-handle {
  .mat-form-field-infix {
    display: flex;
  }
}

.black-spinner-container {
  .mat-button-wrapper {
    display: flex;
    align-items: center;
  }

  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: #000000de;
  }
}

.label-for-radio-group {
  opacity: 0.65;
  font-size: 0.75rem;
  margin-bottom: 8px;
  text-align: left;
}
